p {
 text-align: center;
}
body {
    background-image: url("https://wallpaperaccess.com/full/31189.jpg");
    background-size: cover;
  }
button {
    background-color: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border-color: none; 
}

#title {
  font-size: 20px;
  font-weight: bold;

}
#AIID {
  background-color: #331f00;
  color: white;
}
.zoom {
  zoom: 150%;
}
#AIbutton {
  background: transparent;
  border: none !important;
  font-size:0;
}